<div class="simple" >
	<div class="container-fluid" style="padding:20px;">
		<div class="d-flex flex-column  justify-content-center align-items-left flex-1" >
			<h1>Editing  Job</h1>

			<%= render 'form', dashboard_job: @dashboard_job %>

			<%= link_to 'Show', @dashboard_job %> 
			<%= link_to 'Back', dashboard_root_path %>
		</div>
	</div>
</div>