  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="/assets/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>This is<br><span>The Ruby Rails</span><br>Application</h2>
      </div>

    </div>
  </section><!-- #intro -->