<div class="container d-flex justify-content-center align-items-center" style= "height:100vh" >
	<div class = "d-flex">
		<div class='simple-card'>
			<a href="<%= new_recruiter_registration_path %>">
				<%= image_tag("/assets/research.svg", class: "rounded card-custom img-fluid") %>
				<p>Recruiter</p>
      </a>
		</div>
	  <div class='simple-card'>
      <a href="<%=  new_job_seeker_registration_path %>">
				<%= image_tag("/assets/thinking.svg", class: "rounded card-custom img-fluid") %>
				<p>Job Seeker</p>
      </a>
	  </div>
	</div>
</div>



