<div class="simple" >
	<div class="container-fluid" style="padding:20px;">
		<div class="d-flex flex-column justify-content-center align-items-left flex-1" >
			<%= render "#{current_user.class.to_s.downcase}" %>
		</div>
	</div>
</div>